<div>
  <div class="heading">Account</div>
  <ng-template [ngIf]="!user">
    <input type="text" [(ngModel)]="email">
    <input type="password" [(ngModel)]="password">
    <input type="button" value="register" (click)="register()">
    <input type="button" value="login" (click)="login()">
  </ng-template>
  <ng-template [ngIf]="!!user">
    <span>{{ user.email }}</span>
    <input type="button" value="logout" (click)="logout()">
  </ng-template>

  <div *ngIf="user && user.role == 'pending'">Account awaiting approval</div>
</div>

<div>
  <div class="heading">Pending Members</div>
  <div>
    <div *ngFor="let pender of pending | async">
      <div>{{ pender.data.email }}</div>
      <input type="button" value="accept" (click)="accept(pender.id)">
      <input type="button" value="reject" (click)="reject(pender.id)">
    </div>
  </div>
</div>

<div>
  <div class="heading">Games</div>
  <input type="date" [(ngModel)]="date">
  <input type="time" [(ngModel)]="time">
  <input type="text" [(ngModel)]="venue">
  <input type="button" value="create" (click)="createGame()">
  <div>
    <div class="heading">Upcoming Games</div>
    <div *ngFor="let game of gamesUpcoming | async">
      <div (click)="selectedGame = game.id">Location: {{ game.data.venue }} | Date-Time: {{ game.data.date.toDate() }}</div>
      <div *ngIf="selectedGame == game.id">
        <input type="button" value="delete" (click)="remove(game.id)">
        <input type="number" [(ngModel)]="amount">
        <select [(ngModel)]="member">
          <option value="">\/ Choose a member \/</option>
          <option *ngFor="let memberOption of members | async" value="{{memberOption.id}}">{{ memberOption.data.email }}</option>
        </select>
        <input type="button" value="pay" (click)="payGame()">
      </div>
    </div>
    <div class="heading">Past Games</div>
    <div *ngFor="let game of gamesPast | async">
      <div (click)="selectedGame = game.id">Location: {{ game.data.venue }} | Date-Time: {{ game.data.date.toDate() }}</div>
      <div *ngIf="selectedGame == game.id">Email: {{
        (members | async)?.find(findMember(game.data.payment.member)).data.email
      }} | Contribution: ${{
        game.data.payment.amount
      }}
      </div>
    </div>
  </div>
</div>

<div>
  <div class="heading">Members</div>
  <div>
    <div *ngFor="let member of members | async">Email: {{ member.data.email }} | Contribution: ${{ member.data.total }}</div>
  </div>
</div>
